* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  .header-container {
    display: flex;
    justify-content: end;
  }
  .header-nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 35px 0px;
    width: 850px;
    height: 61.39px;
    flex: none;
    order: 1;
    flex-grow: 0;
  }
  .link-header {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 17px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    z-index: 1;
    position: relative;
  }
  .link-header:after {
    display: block;
    position: absolute;
    left: 0; /* направление подчёркивания */
    width: 0; /*задаём длинну линии до наведения курсора*/
    height: 1px; /*задаём ширину линии*/
    background-color: #ffffff; /*задаём цвет линии*/
    content: '';
    transition: width 0.3s ease-out; /*задаём время анимации*/
  }
  .link-header:hover:after,
  .link-header:focus:after {
    width: 100%;
  }
  